node_modules/
.DS_Store

/.cache/
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
*.sqlite
*.sqlite-journal
*.db

.env
.env.*

yarn.lock
pnpm-lock.yaml

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
shopify-dev*.log
remix-dev*.log
*.log
*.err
*.err.log
last-app-*.html
shopify.app.localhost.toml
